@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans text-black;
    background: linear-gradient(to top, transparent 60px, #cccccc 62px),
      linear-gradient(to left, #efece7 60px, #cccccc 62px);
    background-size: 62px 62px;
  }
  .dark body {
    @apply bg-bg-dark text-white;
    background: linear-gradient(to top, transparent 60px, #333333 62px),
      linear-gradient(to left, #111827 60px, #333333 62px);
    background-size: 62px 62px;
  }
}

@layer utilities {
  .custom-border {
    @apply border-2 border-black;
  }
  .dark-card {
    @apply border-gray-600 bg-gray-700 text-gray-100;
  }
  .primary-color {
    @apply bg-primary text-white hover:bg-warn hover:text-black active:bg-warn active:text-black;
  }
  .shadow-black-3px {
    box-shadow: 0px 3px 0px #000400;
  }
}
